.DS_Store

# Node / JS
node_modules/

# Composer / PHP
vendor/
app/vendor/
composer.lock

# Runtime / uploads / caches
runtime/
writable/
public/runtime/
app/runtime/

# Environment
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.vs/
.vscode/
.idea/
nbproject/

# macOS
.DS_Store

# Others
*.cache
*.tmp
